<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta id="i18n_pagename" content="common">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<link rel="stylesheet" type="text/css" href="/public/css/media-100.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/login-style.css"/>-->
		<link rel="stylesheet" href="public/css/sgc/sgc_style.css" />
		<script src="/public/js/jquery-2.1.4.min.js"></script>
		<script src="public/js/layer/layer.js"></script>
		<script type="text/javascript" src="public/js/sgc/i18n/jquery.i18n.properties.js" ></script>
		<script type="text/javascript" src="public/js/sgc/i18n/language.js" ></script>
		<style>
			body{
				margin-top: 0;
				margin-bottom: 0;
			}
		</style>
	</head>
	<body>
		<div class="sgc_login">
			<p class="sgc_login_reg">
				<a href="javascript:history.back(-1);"><img style="margin-left: 0;margin-right: 5px;" src="public/web/images/sgc/back_arrow2.png" /><label class="i18n" name="i18nFindPwd"></label> </a>
			</p>
			<p class="sgc_login_logo">
				<img src="public/web/images/sgc/logo.png" />
			</p>
			<form class="sgc_login_form">
				<!--<p>
					<img src="public/web/images/sgc/user.png" />
					<input id="user_name" type="text" class="i18n-input" selectname="i18nShareUsername" selectattr="placeholder"/>
				</p>-->
				<p>
					<img src="public/web/images/sgc/phone_num.png" />
					<input id="phone_number" type="text" class="i18n-input" selectname="i18nPhoneNum1" selectattr="placeholder"/>
				</p>
				<p>
					<img src="public/web/images/sgc/login_pwd.png" />
					<input id="user_pwd" type="password" min="6" maxlength="20" class="login-input-user i18n-input" selectname="i18nNewLogPwd" selectattr="placeholder"/>
				</p>
				<p>
					<img src="public/web/images/sgc/login_pwd.png" />
					<input id="user_pwd_confirm" type="password" maxlength="6" class="login-input-user i18n-input" selectname="i18nConfirmNewLogPwd" selectattr="placeholder"/>
				</p>
				<p>
					<img src="public/web/images/sgc/verify_code.png" />
					<input id="log-fp-code" style="width: 45%;" type="text" class="login-input-user i18n-input" selectname="i18nYzm1" selectattr="placeholder"/>
					<input type="button" style="width: 100px;line-height: 30px;" class="sgc_login_msgVerifyCode get_code i18n-input" id="code" selectname="i18nGetYzm" selectattr="value" />
				</p>
			</form>
			<p class="sgc_login_btn">
				<button type="button" class="i18n" name="i18nConfirm"></button>
			</p>
		</div>
		<!--<div class="log-fp-bg">
			<div class="log-fp-input">
				<div class="log-fp-header">
					<a href="javascript:history.back(-1)"><img src="/public/web/images/back_arrow.png" /></a>
					<p>忘记密码</p>
				</div>
				<div class="log-fp-content">
					<span>手 &nbsp;机 &nbsp;号</span>
					<input type="text" id="phone_number" placeholder="输入手机号" />
				</div>
				<div class="log-fp-content-code">
					<span>验 &nbsp;证 &nbsp;码</span>
					<input type="text" class="log-fp-code" placeholder="短信验证码" />
					<input type="button" id="code" class="get_code" value="获取验证码"/>
				</div>
				<div class="log-fp-content">
					<span>登录密码</span>
					<input type="password" id="user_pwd" placeholder="设置新的登录密码" />
				</div>
				<div class="log-fp-content">
					<span>确认密码</span>
					<input type="password" id="user_pwd_confirm" placeholder="再次确认登录密码" />
				</div>
			</div>
			<div class="log-fp-btn">
				<button type="button">确认</button>
			</div>		
		</div>-->
	</body>
	<script>
		
		//提交
		$(document).on("click",".sgc_login_btn button",function(){
			var phone_number = $("#phone_number").val();
			var code = $("#log-fp-code").val();
			var user_pwd = $("#user_pwd").val();
			var user_pwd_confirm = $("#user_pwd_confirm").val();
			$.ajax({
				url:"api/index.php?ctl=user&act=do_reset_pwd",
				type:"post",
				data:{"phone_number":phone_number,"code":code,"user_pwd":user_pwd,"user_pwd_confirm":user_pwd_confirm},
				dataType:"json",
				success:function(data){
					if(data.status == true){
						layer.msg(data.msg,function(){	
							window.location.href="index.php?ctl=user&act=do_login";
						})
					}else{
						layer.msg(data.msg,function(){
							
						})
					}
				}
			})
		})
		
		//获取验证码
		$(document).on("click",".get_code",function(){
			var phone_number = $("#phone_number").val();
			$.ajax({
				type:"post",
				url:"sms.php?",
				async:false,
				data:"phone_number="+phone_number,
				success:function(data){
					if(data){
					var obj = eval("("+data+")");
					if(obj.status == true){
						timing();
					}else{
						layer.msg(obj.msg,function(){
							
						})
					}
					}
				}
			});
		})
		
		var userLanguage = getCookie("userLanguage");
		if(!userLanguage){
			userLanguage = 'zh-CN';
		}
		//发送验证码倒计时
		var time=60; 
		function timing() { 
			if (time == 0) { 
				$("#code").attr("disabled",false);
				if (userLanguage == 'en'){
					$("#code").val("Reacquire");
				}else{
					$("#code").val("重新获取");
				} 
				$('#code').css("background-color","#7291e3");
				$('#code').css("color","#fff");
				time = 60; 
				return;
			} else { 
				$("#code").attr("disabled", true); 
				if (userLanguage == 'en'){
					$("#code").val(time + "s"); 
				}else{
					$("#code").val(time + "s后重试"); 
				}
				$('#code').css("background-color","#bbb");
				$('#code').css("color","#fff");
				time--; 
				setTimeout(function() { 
					timing() 
				},1000) 
			} 
		} 
	</script>
</html>
