<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta id="i18n_pagename" content="common">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="public/css/sgc/sgc_style.css" />
		<script type="text/javascript" src="public/js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="public/js/sgc/sgc.js" ></script>
		<script type="text/javascript" src="public/js/sgc/i18n/jquery.i18n.properties.js" ></script>
		<script type="text/javascript" src="public/js/sgc/i18n/language.js" ></script>
		<title></title>
		<style>
			.rp_scRpay_dataT th,td{
				width: 25% !important;
			}
		</style>
	</head>
	<body>
		<div class="rp_scRpay">
			<div class="nav_bg">
				<div class="nav">
					<a href="javascript:history.back(-1)" style="color: #FFFFFF;"><img src="public/web/images/sgc/back_arrow.png" />
						<label class="i18n" name="i18nTbRecord"></label>
					</a>
				</div>
			</div>
			<div class="rp_scRpay_dataT">
				<table style="border-collapse: collapse;">
					<tr>
						<th class="i18n" name="i18nTime"></th>
						<th class="i18n" name="i18nBiType"></th>
						<th class="i18n" name="i18nNum"></th>
						<th class="i18n" name="i18nStatus"></th>
					</tr>
					{%foreach from=$coinLog item=item1%}
					<tr>
						<td class="time">{%$item1.addtime%}</td>
						<td>{%$item1.coinname%}</td>
						<td class="rp_scRpay_dataT_leftmoney">{%$item1.num%}</td>
						{%if $item1.confirm eq 0%}
						<td class="i18n" name="i18nTransferSts1"></td>
						{%else%}
						<td class="i18n" name="i18nTransferSts2"></td>
						{%/if%}
					</tr>
					{%/foreach%}
				</table>
			</div>
		</div>
		<script>
			jQuery(function($){
				var time = document.getElementsByClassName('time');
				for(var i=0;i<time.length;i++){
					time[i].innerText = date(time[i].innerText);
				}
		   	})
		</script>
	</body>
</html>
